{% extends "base.html" %}

{% block title%}
    {{ block.super }}: Club Listing
{% endblock %}

{% block content %}
    <h1>Club</h1>
    <ul>
        {% for club in clubs %}
            <li><a href="{% url 'clubs:club' club.id %}">
                {{ club.name }}({{ club.count }})
            </a></li>
        {% empty %}
            <li><i>No clubs yet.</i></li>
        {% endfor %}
    </ul>
    {% if page.has_other_pages %}
        {% include 'pagination.html' %}
    {% endif %}
{% endblock %}