{% extends "base.html" %}

{% block title%}
    {{ block.super }}: Member Listing
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Members</h1>

            </div>
            <div class="col">
                <input type="text" class="form-control search-input" placeholder="Type to search..."
                           name="search_text"
                           value="{{ search_text }}"
                           hx-get="{% url "clubs:members" %}"
                           hx-trigger="keyup[key=='Enter'], keyup[this.value.length > 2] changed delay:500ms,"
                           hx-target="#results"
                           hx-push-url="true">
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-start">
                <div class="results" id="results">
                    {% include "partials/members_results.html" %}
                </div>
            </div>
        </div>
    </div>
    <br><br>



{% endblock %}