{% extends "base.html" %}

{% block title %}
    {{ block.super }}: Promoter Listing
{% endblock %}

{% block content %}
    <h1>Promoters</h1>
    <div hx-get="{% url "promoters:partial_promoters" %}?
page={{ request.GET.page }}&per_page={{ request.GET.per_page }}"
         hx-trigger="load"
         hx-swap="innerHTML">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only"></span>
            </div>
        </div>
    </div>
{% endblock %}